<a href="https://colab.research.google.com/github/cindy12651269/Pandas_Pivot_Table_Example/blob/cindy12651269%2Fhw1/Pandas_Pivot_Table_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
    'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
    'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
    'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690]
}
df = pd.DataFrame(ipl_data)

# Pandas_Pivot_Table_Example
pivot_table = df.pivot_table(df, index = 'Team', columns = 'Year', aggfunc = 'size', fill_value = 0)
print(pivot_table)

Year    2014  2015  2016  2017
Team
Devils     1     1     0     0
Kings      1     0     1     1
Riders     1     1     1     1
Royals     1     1     0     0
kings      0     1     0     0